.header{
	font-size: 24px;
	text-align: center;
}
.searchInput {
	width: 550px;
    padding: 5px 8px;
    font-size: 24px;
    border: 1px solid #024e6a;
    border-radius: 8px;
    outline:none;
}

.hintList{
	position: absolute;
    top: 110px;
    width: 550px;
    padding: 5px 8px;
	font-size: 24px;
    border: 1px solid #024e6a;
    border-radius: 8px;
    background-color: white;
}
.hintList > div {
    padding: 5px 10px
}

.spinner {
    position: relative;
    left: 527px;
    top: -40px;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url('../img/spinner.gif');
}